---
layout: default
title: Top Page
---

<center>
  <h2>Welcome to My Home Page!</h2>
  <p>管理人の気まぐれ技術メモサイトへようこそ。</p>

  <table border="1" bordercolor="yellow" bgcolor="black" cellpadding="10">
    <tr>
      <td align="center">
        <font color="yellow" size="4">⚠️ Under Construction ⚠️</font><br>
        <font size="2">一部ページは工事中です。</font>
      </td>
    </tr>
  </table>
</center>

<br><br>

<h3>■ What's New</h3>
<table border="0" cellspacing="0" cellpadding="2" width="100%">
  {% for post in site.posts limit:5 %}
  <tr>
    <td width="80"><font color="#66ccff">{{ post.date | date: "%Y/%m/%d" }}</font></td>
    <td>
      <a href="{{ post.url }}">{{ post.title }}</a>
      
      {% assign current_date = site.time | date: "%s" %}
      {% assign post_date = post.date | date: "%s" %}
      {% assign diff_seconds = current_date | minus: post_date %}
      {% if diff_seconds < 259200 %}
        <span class="blink" style="font-size:10px; color:yellow;">New!</span>
      {% endif %}
      
    </td>
  </tr>
  {% endfor %}
</table>

<div style="text-align:right; font-size:12px;">
  <a href="/log/">[ >> Past Logs ]</a>
</div>

<br>
<hr>
<br>

<h3>■ About This Site</h3>
<ul>
  <li>当サイトはリンクフリーです。</li>
  <li>{{ site.author }}の自己満足ブログです。</li>
  <li>有名なサイトにブログを書くのが怖かったので用意しました。</li>
  <li>間違えた情報があってもご容赦ください。</li>
</ul>
